<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr id="titulo">
            <th class="h4">#</th>
            <th class="h4">Name</th>
            <th class="h4">Number of Members</th>
          </tr>
        </thead>
        <tbody id="banda">
          <tr *ngFor = "let b of bandas">
            <td>
              <dd>{{b.id}}</dd>
            </td>
            <td>
              <dd (click)="onSelected(b)" id="nombre">{{b.name}}</dd>
            </td>
            <td>
              <dd>{{b.numberOfMembers}}</dd>
            </td>
          </tr>
          <tr>
            <td>Promedio Miembros (rounded up): {{miembrosPromedio}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4" *ngIf="selected">
      <app-banda-detail [bandaDetail]="selectedBanda"></app-banda-detail>
    </div>
  </div>
</div>
